<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>TKSaigon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/admin.css">
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/modules/jquery/min.js"></script>
        <script type="text/javascript" src="/public/canvas.js"></script>
    </body>
</html>