<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>TKSaigon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/admin.css">
        <link rel="stylesheet" type="text/css" href="/modules/DataTables/datatables.min.css">
        <link rel="stylesheet" type="text/css" href="/modules/nathansmith-formalize-1471ba0/assets/css/formalize.css">
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/modules/jquery/min.js"></script>
        <script type="text/javascript" src="/modules/DataTables/datatables.min.js"></script>
        <script type="text/javascript" src="/modules/nathansmith-formalize-1471ba0/assets/js/jquery.formalize.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script type="text/javascript" src="/public/design.js"></script>
    </body>
</html>